/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
}

/* HEADER */
nav {
    background-color: #070412;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
    padding: 0px;

}

nav ul li {
    text-align: center;
    width: 50px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
}

.activo{
    background-color: #9477ab;
}

.activo a{
    color: #cc9fa0;
}

.inactivo a{
    color: #4c4275;
}

/* BODY */



/* INDEX */



/* ESPECIAL */



/* AMAR */



/* FUTURO */



/* FOOTER */

.small1{
    width: 300px;
    background-color: #9477ab;
}
.small2{
    width: 320px;
    background-color: #9477ab;
}
.small3{
    width: 320px;
    background-color: #9477ab;
}
.small4{
    width: 320px;
    background-color: #9477ab;
}
.small5{
    width: 325px;
    background-color: #9477ab;
}
.small6{
    width: 350px;
    background-color: #9477ab;
}
.small7{
    width: 375px;
    background-color: #9477ab;
}
.small8{
    width: 400px;
    background-color: #9477ab;
}
.small9{
    width: 425px;
    background-color: #9477ab;
}
.small10{
    width: 450px;
    background-color: #9477ab;
}
.small11{
    width: 475px;
    background-color: #9477ab;
}
.small12{
    width: 500px;
    background-color: #9477ab;
}