/* COLORES */
.colores {
    color: #F0E7E5;
    color: #EEDBD8;
    color: #E8D0D0;
    color: #C6AFC6;
    color: #9C93B5;
}

/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
}

/* HEADER */
.navbar-brand{
    color: #4c4275;
    padding-right: 20px;
    font-weight: bold;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
}

/* BODY */



/* INDEX */



/* ESPECIAL */



/* AMAR */



/* FUTURO */



/* FOOTER */


.hey {
    height: 200vh;
    background-color: #4c4275;
}